/*FLIP CARD CSS*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
.flip-container, .front, .back,  .flipper {
    height:100%;
    width:100%;
}
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
    position:relative;
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
    position:absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}
/*LEADER CSS OPEN SOURCE CODE*/
.cssload-container{
	position:relative;
	margin-top: 30vh;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 2123px;
		-o-border-radius: 2123px;
		-ms-border-radius: 2123px;
		-webkit-border-radius: 2123px;
		-moz-border-radius: 2123px;
}

.cssload-whirlpool {
	margin: -53px 0 0 -53px;
	height: 106px;
	width: 106px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -49px 0 0 -49px;
	height: 94px;
	width: 94px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -62px 0 0 -62px;
	height: 119px;
	width: 119px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}








/*MY CSS*/
body{
    height: 100vh;
    background-image: url("../resources/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.authentication, .searchWeather{
    margin-top: 2vh;
    height: 20vh;
    width: 100%;
    background-color: rgba(255,255,255, 0.5);
    box-shadow: 5px 5px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.searchWeather{
    height: 75vh;
}
#titleLogout, #titleLogin{
    text-align: center;
}
#mainPage, #loginPage{
    height: 100%;
    width: 100%;
}
#favoriteSection, #searchSection, #titleLogout, #titleLogin{
    width:100%;
    min-height: 20vh;
    max-height: 700px;
}

.flex-column-center{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#wantLogin, #wantSignIn, #googleLogin{
    font-size: 17px;
    font-weight: bold;
}
.iconImg{
    height:45px;
	width: auto;
}
.weatherImg{
    width:100%;
    height:auto;
}
.backButton{
    margin-top: 2vh;
    text-align: center;
}
.infoText{
	font-size: 20px;
    font-weight: bold;
}






/*GOOGLE BUTTON CSS*/
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}




